<!DOCTYPE html>
<div lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  body, html
  {
   backdrop-filter: blur(5px);
    height: 100%;
    margin: 0;
  }

  h1 {text-align: center;
  font-size: 5em;
  colour: #0033cc
  }

    .center
    {
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     }

 .container{padding: 30px 20px;
 text-align: center;}
  </style>
</head>

<body background="/static/images/hero_2.jpg" class="center">


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav">
        <li><a href="/details">ADD NEW PATIENT</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <li><a href="/search">SHOW PATIENTS</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="center container">
      <div class="center text-center">
        <h1 style="color: white;">Search Patient Details</h1>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

        <ul id="myUL" hidden>
          {% for detail in details %}
          <li><a href="/patient/{{detail.name}}"> {{detail.name}}</a></li>
          {% endfor %}
        </ul>

      </div>
    </div>
    <script>
      function myFunction() {
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          ul = document.getElementById("myUL");
          li = ul.getElementsByTagName("li");
          input.value == "" ? ul.style.visibility = 'hidden' : ul.style.visibility = 'visible'

          for (i = 0; i < li.length; i++) {
              a = li[i].getElementsByTagName("a")[0];
              txtValue = a.textContent || a.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                ul.style.display = 'block'
                  li[i].style.display = '';
              } else {
                  li[i].style.display = "none";
              }
          }
      }
      </script>

</body>
</div>
</html>

